html, body 
{
    margin: 0;
}
body
{
    background-image: url("https://fsmedia.imgix.net/c1/c3/e4/3e/d315/496c/8ebb/6f4e202802cb/video-taken-bypowpowtarkari.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-color: aquamarine;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
div
{
    display: flex;
    justify-content: center;
    color: white;
    font-family: Arial;
    font-style: italic;
    font-size: 22px;
}
